/* Style Sheet for Recipe home Page Alpha Assignment*/

* { /*Helps with math of margin and padding*/
    box-sizing: border-box;
}

html { /*More font stuff*/
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(108,116,124);
    background: radial-gradient(circle, rgba(108,116,124,1) 0%, rgba(0,0,0,1) 100%);
}

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  color: #383838;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul {padding:0;}

#navigation_container #navigation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40vw;
    max-width: 100vw;
}

#navigation_container #navigation li {
    margin: 1rem .4rem 0;
    list-style: none;
    float: left;
    width: 20vw;
    height: 25px;
    vertical-align: top;
    max-width: 100vw;
}

#navigation_container #navigation li.one {
    border-bottom: 2px solid #00ff6a;
}

#navigation_container #navigation li.two {
    border-bottom: 2px solid #2c6939;
}

#navigation_container #navigation li.three{
    border-bottom: 2px solid #009619
}

#navigation_container #navigation li.four{
    border-bottom: 2px solid #44c440
}


#navigation_container #navigation li a:hover{
    text-decoration:none;color:#aaa
}

.box {
    margin: 0;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.food:hover{
    opacity: 80%;
}

/*Computer Layout*/
@media screen and (min-width: 1050px) {
   
    .button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: green;
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    #navigation_container #navigation li a,  #navigation_container #navigation li a:visited {
        font-family: "Helvetica",Arial,sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        text-decoration:none;
        letter-spacing: .4pt;
    }

    h1 {
        text-align: center;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgb(47, 255, 134);
    }

    .hero {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 35vh;
        position: relative;
        text-align: center;
        color: white;
    }

    #hero{
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 35vh;
        object-fit: cover;
    }

    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        margin: 2vw;
        width: 28vw;
        height: 28vw;
        background-image: linear-gradient( 135deg, rgb(38, 82, 38) 10%, rgb(49, 150, 21) 100%);
        border-radius: 2rem;
        text-align: center;
        font-size: 1.3vw;
        color: white;
        align-items: center;
    }

    .food {
        width: 26vw;
        height: 20vw;
        margin: .5rem auto;
    }

    img.food {
        border-radius: 1rem;
        width: 26vw;
        height: 20vw;
        object-fit: cover;
    }

    .featured {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

    .tle {
        font-size: 1.5vw;
        margin: .5rem 0;
    }

}
/*END Computer Layout*/

/*Tablet Layout*/
@media screen and (max-width: 1049px) {

    .button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: green;
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    #navigation_container #navigation li a,  #navigation_container #navigation li a:visited {
        font-family: "Helvetica",Arial,sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        text-decoration:none;
        letter-spacing: .4pt;
    }

    h1 {
        text-align: center;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgb(47, 255, 134);
    }

    .hero {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 25vh;
        position: relative;
        text-align: center;
        color: white;
    }

    #hero{
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 25vh;
        object-fit: cover;
    }

    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        margin: 1rem 1vw;
        width: 43vw;
        height: 43vw;
        background-image: linear-gradient( 135deg, rgb(38, 82, 38) 10%, rgb(49, 150, 21) 100%);
        border-radius: 2rem;
        text-align: center;
        font-size: 1.7vw;
        color: white;
        float: left;
    }

    .food {
        width: 42vw;
        height: 30vw;
        margin: .5rem auto;
    }

    img.food {
        border-radius: 1rem;
        width: 40vw;
        height: 30vw;
        object-fit: cover;
    }

    .featured {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

    .tle {
        font-size: 2vw;
        margin: 1rem auto .2rem;
    }

    
}
/*END TABLET LAYOUT*/

/*MOBILE MODE*/
@media screen and (max-width: 640px) {


    .button {
        position: absolute;
        top: 3rem;
        right: 1rem;
        background-color: green;
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    #navigation_container #navigation li a,  #navigation_container #navigation li a:visited {
        font-family: "Helvetica",Arial,sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        text-decoration:none;
        letter-spacing: .4pt;
    }

    .box{
        width: 80vw;
    }
    
    .popup{
        width: 80vw;
    }

    h1 {
        text-align: center;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgb(47, 255, 134);
    }

    .hero {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        height: 25vh;
        position: relative;
        text-align: center;
        color: white;
    }

    #hero{
        width: 90vw;
        height: 25vh;
        object-fit: cover;
    }

    .search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        margin: 1rem 10vw;
        width: 80vw;
        height: 70vw;
        background-image: linear-gradient( 135deg, rgb(38, 82, 38) 10%, rgb(49, 150, 21) 100%);
        border-radius: 2rem;
        text-align: center;
        font-size: 3vw;
        color: white;
    }

    .food {
        width: 70vw;
        height: 50vw;
        margin: .5rem auto;
    }

    img.food {
        border-radius: 1rem;
        width: 70vw;
        height: 50vw;
        object-fit: cover;
    }

    .featured {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

    .tle {
        font-size: 4.2vw;
        margin: .5rem auto;
    }
}
/*END MOBILE MODE*/